                    #messages {
                        height: 420px;
                        font-size: 1.5rem;
                        margin-left: 0.5vw;
                        font-family: 'Merriweather', serif;
                        line-height: 2rem;
                    }
                    
                    #username {
                        /* background-color: rgb(86, 94, 94); */
                        background-color: #000;
                        border: #000 solid 2px;
                        color: #05702e;
                        font-weight: 700;
                    }
                    
                    .card {
                        /* background-color: rgb(86, 94, 94); */
                        background-color: #000;
                        border: #000 solid 2px;
                        color: #05702e;
                        overflow-y: visible;
                        overflow-x: hidden;
                    }
                    
                    #textarea {
                        background-color: #000;
                        border: #000 solid 2px;
                        color: #05702e;
                        font-weight: 700;
                    }
                    
                    #particles-js {
                        height: 100vh;
                        width: 12vw;
                        z-index: -1;
                        margin: 0;
                    }
                    
                    #particles-js-2 {
                        height: 100vh;
                        width: 12vw;
                        z-index: -1;
                        margin: 0;
                    }
                    
                    #send {
                        margin-left: 10px;
                    }
                    
                    .button {
                        float: right;
                    }
                    
                    body {
                        display: flex;
                        background: #000;
                        overflow: hidden;
                    }
                    
                    .container {
                        width: 80vw;
                        height: 100vh;
                        margin: 0 0 0 0;
                        box-shadow: 0 0 20px 0;
                        box-shadow: inset 0 0 30px 20px rgba(0, 0, 0, 0.9);
                        background-color: rgb(68, 126, 126);
                        background: url('https://i.pinimg.com/originals/a6/b4/62/a6b462ec855cbd26efe77936f49199c7.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        z-index: 1;
                    }
                    
                    .text-center {
                        padding-top: 5vh;
                        font-family: 'Merriweather', serif;
                    }
                    
                    textarea.form-control {
                        margin: 0 0 20px 0;
                    }
                    
                    @media(max-width: 560px) {
                        #messages {
                            height: 300px;
                        }
                        #particles-js {
                            display: none;
                        }
                        #particles-js-2 {
                            display: none;
                        }
                        .container {
                            margin: 0 0 0 10vw;
                        }
                        body {
                            background-color: #000;
                            /* background-color: rgb(86, 94, 94); */
                        }
                    }